h2 {
font-family: "dog";
color:white;
font-weight:bold
}
@font-face {
  font-family:"dog";
  src:url("PuppyBellies.ttf");
  font-weight:normal;
}
h1 {
  font-family:"dog";
  font-size: 45px;
  color:white;
  font-weight:bolder;

}
body {
  background-image: url("https://wallpaperscraft.com/image/paw_print_background_surface_pattern_69479_2560x1440.jpg");
  text-align:center;
}
label {
  color:white;
  font-size: 20px;
  font-family:"dog";
}
div {
    width: 700px;
    border: 5px solid lightgrey;
    padding: 25px;
    margin: 25px;
    display:inline-block;
}
#bone {
  display:inline-block;
}
